/* reset universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
    cursor: default;
}

header {
    display: flex;
    font-size: 1.3rem;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 5rem;
    aspect-ratio: 1/1;
    margin-right: 10%;
}

.nav-header {
    font-size: 1.8rem;
}

.quickscope {
    display: flex;
    margin: auto;
}

#frase-efeito {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 100;
}

#frase-efeito span {
    font-size: 0.6rem;
}

/* cases maneiras */
.cases-container {
    height: auto;
    padding: 10px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.case-vitrine-CS:hover {
    animation-play-state: paused;
}

.case-vitrine-CS {
    display: inline-flex;
    gap: 0.7rem;
    animation: scrollVitrine-cs 10s linear infinite;
    animation-play-state: running;
}

.case-vitrine-RL {
    display:inline-flex;
    gap: 0.7rem;
    animation: scrollVitrine-cs 10s linear infinite;
    animation-play-state: running;
}

.case-vitrine-RL:hover {
    animation-play-state: paused;
}

.case-item {
    width: fit-content;
    border: 2px solid#000;
    padding: 0.5rem;
    border-radius: 20px;
    background: #313131;
    color: #fff;
    transition: 0.3s ease;
}

.case-item:hover {
    transition: 0.3s ease;
    transform: scale(105%);
}

.case-img {
    background: #212121;
    border-radius: 20px;
    width: 15rem;
    height: auto;
}

.case-item h1 {
    font-weight: 100;
    font-size: 1.5rem;
}

.case-item h2 {
    font-size: 1.43rem;
}

.btn-comprar {
    display: flex;
    margin: auto;
    justify-content: center;
    width: fit-content;
    text-align: center;
    height: fit-content;
    justify-items: center;
    font-size: 1.5rem;
    padding: 0.3em;
    border-radius: 10px;
    color: #a3a3a3;
    background: #292929;
    cursor: pointer;
    border: 2px solid #000;
    transition: 0.5s ease-in-out;
}

.btn-comprar:hover {
    transition: ease-in-out 0.5s;
    transform: scale(105%);
    background-image: linear-gradient(135deg, #ff0066, #ffcc00, #00cc99, #0066ff);
    animation: arcoIris 2s linear infinite;
    color: #fff;
    border: none;
}

.carrinho-icon::before {
    background-image: none;
    width: 0;
    transition: 0.5s ease-in-out;
}

.btn-comprar:hover .carrinho-icon {
    transition: 0.5s ease-in-out;
    margin-right: 10px;
    width: 30px;
    height: auto;
    background-image: url(../assets/shopIcon.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.case-titulo {
    text-align: center;
    font-size: 3rem;
}

@keyframes arcoIris {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

@keyframes scrollVitrine-cs {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes scrollVitrine-rl{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(50%);
    }
}

/* fim das cases :) */